// OVERALL FONT PARAMETERS ►
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(0,0,0);
}

// GENERAL AJDUSTMENT OF MARGIN & PADDING ►
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

// . ►
