<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Google Fonts Links / Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <!-- Style Sheets Link -->
        <link rel="stylesheet" href="./dropdown.css">
    </head>
    <body>
        <button class="dropdown__button">
            Shop
            <div class="dropdown__button-arrow">
                ►
            </div>
        </button>
        <div class="dropdown__shop">
            <div class="dropdown__shop-list">
                <ul>
                    <h3>shop layout</h3>
                    <li><a href="#">full width</a></li>
                    <li><a href="#">sidebar right</a></li>
                    <li><a href="#">sidebar left</a></li>
                    <li><a href="#">list view</a></li>
                    <li><a href="#">checkout</a></li>
                    <li><a href="#">card</a></li>
                    <li><a href="#">wishlist</a></li>
                </ul>
                <ul>
                    <h3>product layout</h3>
                    <li><a href="#">big image scrolling</a></li>
                    <li><a href="#">simple product</a></li>
                    <li><a href="#">veritical right</a></li>
                    <li><a href="#">veritical left</a></li>
                    <li><a href="#">veritical left</a></li>
                    <li><a href="#">veritical horizontal</a></li>
                    <li><a href="#">collection</a></li>
                </ul>
                <ul>
                    <h3>product type</h3>
                    <li><a href="#">simple product</a></li>
                    <li><a href="#">veritical product</a></li>
                    <li><a href="#">left product</a></li>
                    <li><a href="#">right product</a></li>
                    <li><a href="#">special products</a></li>
                    <li><a href="#">outstoct store</a></li>
                </ul>
                <ul>
                    <h3>product categories</h3>
                    <li><a href="#">bedroom</a></li>
                    <li><a href="#">outdoor</a></li>
                    <li><a href="#">decoration</a></li>
                    <li><a href="#">kitchen</a></li>
                </ul>
            </div>
            <div class="dropdown__shop-image">
                <img src="/ASSETS/Products/product_07.jpg" alt="image1">
            </div>
        </div>
    </body>
</html>