<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Filters</title>
        <!-- Google Fonts Links | Montserrat -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <!-- Style Sheets Link -->
        <link rel="stylesheet" href="./filters.css">
    </head>
    <body>
        <section>
            <!-- CONTAINER IN SECTION -->
            <div class="container">
                <form class="container__form" action="#" method="get">
                    <ul class="container__form-columns">
                        <h2>Filber By Category</h2>
                        <li>
                            <input type="checkbox" name="cat1" id="cat1" value="Bedroom">
                            <label for="cat1">Bedroom</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat2" id="cat2" value="Decor">
                            <label for="cat2">Decor</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat3" id="cat3" value="Decoration">
                            <label for="cat3">Decoration</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat4" id="cat4" value="Kitcken">
                            <label for="cat4">Kitcken</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat5" id="cat5" value="Lamp">
                            <label for="cat5">Lamp</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat6" id="cat6" value="Lightning">
                            <label for="cat6">Lightning</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat7" id="cat7" value="Decor">
                            <label for="cat7">Decor</label>
                        </li>
                    </ul>
                    <ul class="container__form-columns">
                        <h2>Filber By Hand</h2>
                        <li>
                            <input type="checkbox" name="cat8" id="cat8" value="Bedroom1">
                            <label for="cat8">Bedroom</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat9" id="cat9" value="Decor1">
                            <label for="cat9">Decor</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat10" id="cat10" value="Decoration1">
                            <label for="cat10">Decoration</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat11" id="cat11" value="Kitcken1">
                            <label for="cat11">Kitcken</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat12" id="cat12" value="Lamp1">
                            <label for="cat12">Lamp</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat13" id="cat13" value="Lightning1">
                            <label for="cat13">Lightning</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat14" id="cat14" value="Decor1">
                            <label for="cat14">Decor</label>
                        </li>
                    </ul>
                    <ul class="container__form-columns">
                        <h2>Filber By Color</h2>
                        <li>
                            <input type="checkbox" name="cat15" id="cat15" value="Blue">
                            <label for="cat15">Blue</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat16" id="cat16" value="Green">
                            <label for="cat16">Green</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat17" id="cat17" value="Orange">
                            <label for="cat17">Orange</label>
                        </li>
                        <li>
                            <input type="checkbox" name="cat18" id="cat18" value="Dark-Blue">
                            <label for="cat18">Dark Blue</label>
                        </li>
                    </ul>
                    <ul class="container__form-columns">
                        <h2>Filter By Price</h2>
                        <input type="range">
                        <br>
                        <input type="number" placeholder="0">
                        <input type="number" placeholder="1'000">
                        <br>
                        <input type="submit" value="Filter">
                    </ul>
                </form>
            </div>
        </section>
    </body>
</html>