// ========== ========== ========== ========== ========== ========== ==========
// ► CUSTOM VALUES start ◄
.empty-class {
    $default_color: rgb(8,8,8);
    $links_color: rgb(255,0,0);
}
// ► CUSTOM VALUES end ◄
// ========== ========== ========== ========== ========== ========== ==========
// ► ZEROING DEFAULTS start ◄
* {
    font-family: 'Montserrat', sans-serif;
    html, body, h1, h2, h3, h4, h5, h6, p, ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $default_color;
        &:hover {
            color: $links_color;
            transform: translateX(20px);
            transition: ease-in-out 0.3s;
        }
    }
}
// ► ZEROING DEFAULTS end ◄
// ========== ========== ========== ========== ========== ========== ==========
// ► HEADER start ◄

// ► HEADER end ◄
// ========== ========== ========== ========== ========== ========== ==========
// ► SECTION 1 start ◄

// ► SECTION 1 end ◄
// ========== ========== ========== ========== ========== ========== ==========
// ► SECTION 2 start ◄

// ► SECTION 2 end ◄
// ========== ========== ========== ========== ========== ========== ==========
// ► FOOTER start ◄
#footer {}
.footer {
    &__columns {
        &--headers {}
        &--lists {}
    }
}
.bottom {
    &__rights {}
    &__conditions {}
}
// ► FOOTER end ◄
// ========== ========== ========== ========== ========== ========== ==========
// ► POPUP WINDOWS start ◄

// ► POPUP WINDOWS end ◄
// ========== ========== ========== ========== ========== ========== ==========
// ► HIDING CLASS start ◄
.hidden {
    display: none;
}
// ► HIDING CLASS end ◄
// ========== ========== ========== ========== ========== ========== ==========