// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
// ajdusting some default parameters - start ►
* {
    $default_color: rgb(0,0,0);

    font-family: 'Josefin Slab', serif;
    border: 1px solid greenyellow;
    color: $default_color;

    body, ul, h1, h2, h3, h4, h5, h6, p {
        margin: 0px;
        padding: 0px;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    @mixin flex-cc {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// ajdusting some default parameters - end ◄
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
// navigation - start ►
#nav {
    .nav {
        @media only screen and (max-width: 767px) {}
        @media only screen and (max-width: 991px) {}

        &--link {
            @media only screen and (max-width: 767px) {}
            @media only screen and (max-width: 991px) {}
        }
        &--logo {
            @media only screen and (max-width: 767px) {}
            @media only screen and (max-width: 991px) {}
        }
        &--button {
            @media only screen and (max-width: 767px) {}
            @media only screen and (max-width: 991px) {}
        }
        &--menu {
            @media only screen and (max-width: 767px) {}
            @media only screen and (max-width: 991px) {}
        }
        .fa-bars {}
    }
}
// navigation - end ◄
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
// main sections - start ►
#main {
    .section {
        .travelling {
            &__columns {
                &--image {}
                &--h1 {}
                &--h6 {}
                &--paragraph {}
            }

            @media only screen and (max-width: 575px) {}
            @media only screen and (max-width: 991px) {}
        }
        .most-routes {
            &__header {}
            &__container {
                &--cards {
                    &_photo {}
                    &_title {}
                    &_description {}
                    &_date {}
                }
            }
            &__links {}
            &__button {}

            @media only screen and (max-width: 575px) {}
            @media only screen and (max-width: 991px) {}
        }
        .gallery {
            &__images {}

            @media only screen and (max-width: 575px) {}
            @media only screen and (max-width: 991px) {}
        }
    }
}
// main sections - end ◄
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
// footer - end ◄
#footer {
    .footer {
        .footer--column {
            &__form {
                &--label {}
                &--input {}
                &--button {}
            }
            &__social {
                &--link {}
            }
        }
        .fa-brands {}

        @media only screen and (max-width: 575px) {}
        @media only screen and (max-width: 991px) {}
    }
}
// footer - start ►
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬