:root {
  --defaultColor: rgb(0,0,0);
  --highlightColor: rgb(255,0,0);
  --lightTextColor: rgb(0,0,0);
  --lightHoverTextColor: rgb(0,255,128);
  --lightBackground: linear-gradient(to right, rgb(0,255,0), rgb(0,255,255));
  --lightBackgroundColor: rgb(255,255,255);
  --darkTextColor: rgb(255,255,255);
  --darkHoverTextColor: rgb(0,128,255);
  --darkBackground: linear-gradient(to right, rgb(64,0,255), rgb(0,0,255));
  --darkBackgroundColor: rgb(32,32,32);
  --extra_small_device: 575px;
  --mobile_device: 767px;
  --tablet_device: 991px;
  --desktop_device: 1199px;
  --slow-fx: linear 0.35s;
  --ease-fx: ease-in-out 0.2s;
}

* {
  font-family: "Josefin Sans", sans-serif;
}
* html, * body, * h1, * h2, * h3, * h4, * h5, * h6, * p, * ul {
  margin: 0;
  padding: 0;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
  color: var(--defaultColor);
  transition: var(--ease-fx);
}
* button {
  cursor: pointer;
}

#header {
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header .header {
  margin-top: 20px;
  box-sizing: border-box;
  width: 1250px;
  height: 60px;
  background-color: grey;
  display: flex;
  position: relative;
}
#header .header__logo {
  margin-left: 30px;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
}
#header .header__logo--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .header__search {
  box-sizing: border-box;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__search--bar {
  width: 450px;
  height: 40px;
  padding-left: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
}
#header .header__search--find {
  position: absolute;
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
#header .header__langbar {
  box-sizing: border-box;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__langbar--selector {
  width: 50px;
  border: none;
  border-bottom: 1px solid var(--defaultColor);
  outline: none;
}
#header .header__langbar .fa-globe {
  margin-right: 5px;
}
#header .header__userpanel {
  margin-right: 30px;
  position: absolute;
  top: 5px;
  right: 0;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--defaultColor);
  cursor: pointer;
}
#header .header__userpanel--image {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .header__userpanel--dropdown {
  z-index: 10;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  width: 150px;
  height: auto;
  padding: 15px 0;
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__userpanel--dropdown_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}
#header .header__userpanel--dropdown_column-switch-visual {
  display: flex;
  align-items: center;
  font-size: 16px;
}
#header .header__userpanel--dropdown_column-switch-visual .fa-sun {
  scale: 1;
}
#header .header__userpanel--dropdown_column-switch-visual .fa-moon {
  scale: 1.5;
}
#header .header__userpanel--dropdown_column-switch-visual .switch {
  display: block;
  width: 40px;
  height: 20px;
  background-color: gainsboro;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 5px;
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}
#header .header__userpanel--dropdown_column-switch-visual .switch__button {
  display: block;
  position: relative;
  left: 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: var(--slow-fx);
}
#header .header__userpanel--dropdown_column-switch-visual .checked {
  background-color: greenyellow;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}
#header .header__userpanel--dropdown_column-switch-visual .checked .switch__button {
  left: 20px;
  transition: var(--slow-fx);
}
#header .header__userpanel--dropdown_column-cart {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-fav {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-pref {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-logout {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-signin {
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  font-size: 28px;
  box-sizing: border-box;
  border: 1px solid var(--defaultColor);
  border-radius: 50%;
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--defaultColor);
  font-size: 28px;
}

#breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
}
#breadcrumb .breadcrumb {
  border: none;
  border-top: 1px solid var(--defaultColor);
  box-sizing: border-box;
  overflow: hidden;
  width: 1250px;
  height: 36px;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  letter-spacing: 5px;
  background-color: olive;
}

#nav {
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#nav .nav {
  box-sizing: border-box;
  border: none;
  border-top: 1px solid var(--defaultColor);
  width: 1250px;
  height: 30px;
  background-color: darkgoldenrod;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
}
#nav .nav__woman {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__man {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__kid {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__accessories {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__electronics {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__sport {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__furniture {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__software {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__dropdown {
  z-index: 9;
  border: 1px solid var(--defaultColor);
  box-sizing: border-box;
  background-color: tan;
  width: 1250px;
  height: 350px;
  position: absolute;
  top: 100%;
  left: 0%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
#nav .nav__dropdown--categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}
#nav .nav__dropdown--categories_columns {
  width: 33%;
  height: 50%;
}
#nav .nav__dropdown--categories_columns-header {
  font-size: 20px;
  margin-bottom: 5px;
}
#nav .nav__dropdown--categories_columns-lists {
  font-size: 16px;
}
#nav .nav__dropdown--categories_columns-lists:not(:last-of-type) {
  margin-bottom: 5px;
}
#nav .nav__dropdown--images {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#nav .nav__dropdown--images_top {
  box-sizing: border-box;
  width: 60%;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
}
#nav .nav__dropdown--images_top-img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#nav .nav__dropdown--images_bottom {
  box-sizing: border-box;
  width: 60%;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
}
#nav .nav__dropdown--images_bottom-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section1-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
  position: relative;
}
#section1-categories .section1-carousels {
  width: 1250px;
  height: 550px;
  box-sizing: border-box;
  background-color: coral;
  display: flex;
  position: relative;
}
#section1-categories .section1-carousels__slides {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
#section1-categories .section1-carousels__slides--image {
  width: 1250px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section1-categories .section1-carousels__slides--info {
  position: absolute;
  top: 65%;
  left: 5%;
}
#section1-categories .section1-carousels__slides--info_header {
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}
#section1-categories .section1-radios {
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  left: 50%;
  bottom: 0%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  width: 15%;
  height: 80px;
}
#section1-categories .section1-radios__dots {
  scale: 1.5;
  accent-color: rgb(16, 16, 16);
}
#section1-categories .section1-right {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  font-size: 35px;
  border-radius: 50%;
  top: 50%;
  left: 12%;
  background-color: rgba(120, 120, 120, 0.2);
  color: rgba(16, 16, 16, 0.2);
  border: 1px solid rgba(16, 16, 16, 0.2);
  transition: var(--slow-fx);
}
#section1-categories .section1-right:hover {
  background-color: rgba(240, 240, 240, 0.9);
  color: rgba(16, 16, 16, 0.9);
  border: 1px solid rgba(16, 16, 16, 0.9);
  transition: var(--slow-fx);
}
#section1-categories .section1-right:active {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  transition: linear 0.01s;
}
#section1-categories .section1-left {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  font-size: 35px;
  border-radius: 50%;
  top: 50%;
  left: 88%;
  background-color: rgba(120, 120, 120, 0.2);
  color: rgba(16, 16, 16, 0.2);
  border: 1px solid rgba(16, 16, 16, 0.2);
  transition: var(--slow-fx);
}
#section1-categories .section1-left:hover {
  background-color: rgba(240, 240, 240, 0.9);
  color: rgba(16, 16, 16, 0.9);
  border: 1px solid rgba(16, 16, 16, 0.9);
  transition: var(--slow-fx);
}
#section1-categories .section1-left:active {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  transition: linear 0.01s;
}

#section2-exppopcateg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
}
#section2-exppopcateg .section2-exppopcateg {
  width: 1250px;
  height: 400px;
  box-sizing: border-box;
  background-color: mediumturquoise;
  display: flex;
  flex-direction: column;
}
#section2-exppopcateg .section2-exppopcateg__header {
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0px 40px 20px;
}
#section2-exppopcateg .section2-exppopcateg__container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 0px 20px;
}
#section2-exppopcateg .section2-exppopcateg__container--cards {
  width: 220px;
  height: 260px;
  display: flex;
  flex-direction: column;
}
#section2-exppopcateg .section2-exppopcateg__container--cards_cover {
  width: 100%;
  height: 220px;
}
#section2-exppopcateg .section2-exppopcateg__container--cards_cover-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section2-exppopcateg .section2-exppopcateg__container--cards_name {
  margin-top: 20px;
  align-self: center;
}

#section3-topsellbooks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
}
#section3-topsellbooks .section3-topsellbooks {
  width: 1250px;
  height: 600px;
  box-sizing: border-box;
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 80px 0px 60px 0px;
}
#section3-topsellbooks .section3-topsellbooks__header {
  position: absolute;
  top: 2%;
  transform: translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0px 0px 0px;
}
#section3-topsellbooks .section3-topsellbooks__cards {
  border: 1px solid none;
  width: 140px;
  height: 200px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 100px;
}
#section3-topsellbooks .section3-topsellbooks__cards--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section3-topsellbooks .section3-topsellbooks__cards:hover {
  scale: 1.05;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}

#section4-exppopbrands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
}
#section4-exppopbrands .section4-exppopbrands {
  width: 1250px;
  height: 400px;
  box-sizing: border-box;
  background-color: gold;
  display: block;
}
#section4-exppopbrands .section4-exppopbrands__header {
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0px 40px 20px;
}
#section4-exppopbrands .section4-exppopbrands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 0px 20px;
}
#section4-exppopbrands .section4-exppopbrands__container--cards {
  width: 220px;
  height: 260px;
  display: flex;
  flex-direction: column;
}
#section4-exppopbrands .section4-exppopbrands__container--cards_cover {
  width: 100%;
  height: 220px;
}
#section4-exppopbrands .section4-exppopbrands__container--cards_cover-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section4-exppopbrands .section4-exppopbrands__container--cards_name {
  margin-top: 20px;
  align-self: center;
}

#footer {
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#footer .footer {
  box-sizing: border-box;
  width: 1250px;
  background-color: cornflowerblue;
  height: 230px;
  display: flex;
}
#footer .footer__columns {
  box-sizing: border-box;
  width: 20%;
  position: relative;
}
#footer .footer__columns--logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
#footer .footer__columns--headers {
  margin: 30px 0px 20px 10px;
  font-size: 24px;
  text-transform: uppercase;
}
#footer .footer__columns--lists {
  margin-left: 20px;
  transition: var(--ease-fx);
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
#footer .footer__columns--lists:not(:last-of-type) {
  margin-bottom: 10px;
}
#footer .footer__columns--lists a:hover {
  position: relative;
  color: rgb(255, 0, 0);
  transition: var(--ease-fx);
}
#footer .footer__columns--lists:hover {
  transform: translateX(10px);
  transition: var(--ease-fx);
}
#footer .bottom {
  margin-bottom: 20px;
  padding: 15px 0;
  box-sizing: border-box;
  border-top: 1px solid var(--lightTextColor);
  width: 1250px;
  background-color: tomato;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer .bottom__rights {
  box-sizing: border-box;
  width: 35%;
}
#footer .bottom__conditions {
  box-sizing: border-box;
  width: 35%;
  display: flex;
  justify-content: space-between;
}

#popups .overlay-bolder {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#popups .overlay-blurbg {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#popups .privacypolicy {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 600px;
  overflow: scroll;
  padding: 20px;
}
#popups .privacypolicy__cross {
  position: relative;
  left: 95%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
}
#popups .privacypolicy__text {
  margin-top: 20px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: var(--defaultColor);
}
#popups .termsofuse {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 600px;
  overflow: scroll;
  padding: 20px;
}
#popups .termsofuse__cross {
  position: relative;
  left: 95%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
}
#popups .termsofuse__text {
  margin-top: 20px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: var(--defaultColor);
}
#popups .comingsoon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 400px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
#popups .comingsoon__cross {
  position: relative;
  top: 10px;
  left: 45%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
  transition: var(--slow-fx);
}
#popups .comingsoon__cross:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
#popups .comingsoon__image {
  border: 6px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: rgb(255, 255, 0);
  animation: alert 1.1s ease-in-out 0s 1;
}
#popups .comingsoon__image--symbol {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popups .comingsoon__text {
  font-size: 20px;
  filter: drop-shadow(0px 0px 5px rgb(255, 0, 0));
  color: rgb(8, 0, 0);
}
#popups .comingsoon__ok {
  margin-bottom: 40px;
  width: 70px;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(16, 16, 16);
  transition: var(--slow-fx);
}
#popups .comingsoon__ok:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
@keyframes alert {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: 0deg;
  }
  20% {
    rotate: 30deg;
  }
  30% {
    rotate: -25deg;
  }
  40% {
    rotate: 20deg;
  }
  50% {
    rotate: -15deg;
  }
  60% {
    rotate: 10deg;
  }
  70% {
    rotate: 0deg;
  }
  100% {
    rotate: 0deg;
  }
}

#section-auth {
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
}
#aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
}
#faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
}
#locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(128, 255, 0), rgb(0, 255, 128));
}
#pages_of_products {
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
}
#productpage {
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
}
.hidden {
  display: none !important;
}

.light-mode {
  background: var(--lightBackgroundColor);
  color: var(--lightTextColor);
}

.dark-mode {
  background: var(--darkBackgroundColor);
  color: var(--darkTextColor);
}/*# sourceMappingURL=Ploranza.css.map */