* {
  font-family: "Josefin Sans", sans-serif;
}
* html, * body, * h1, * h2, * h3, * h4, * h5, * h6, * p, * ul {
  margin: 0;
  padding: 0;
}
* li {
  list-style: none;
}
* a {
  text-decoration: none;
  color: var(--defaultColor);
  transition: var(--ease-fx);
}
* button {
  cursor: pointer;
}
* body {
  background: var(--bodyCLR);
}

#header {
  z-index: 10;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header .header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background: var(--gradBG);
  display: flex;
  position: relative;
}
#header .header__logo {
  margin-left: 30px;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
}
#header .header__logo--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}
#header .header__search {
  box-sizing: border-box;
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__search--bar {
  width: 450px;
  height: 40px;
  padding-left: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
}
#header .header__search--find {
  position: absolute;
  top: 50%;
  left: 79%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
#header .header__langbar {
  box-sizing: border-box;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header__langbar--selector {
  width: 50px;
  border: none;
  border-bottom: 1px solid var(--defaultColor);
  outline: none;
}
#header .header__langbar .fa-globe {
  margin-right: 5px;
}
#header .header__userpanel {
  margin-right: 30px;
  position: absolute;
  top: 5px;
  right: 0;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--defaultColor);
  cursor: pointer;
}
#header .header__userpanel--image {
  width: 100%;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
#header .header__userpanel--dropdown {
  z-index: 10;
  background-color: var(--bgColor);
  box-sizing: border-box;
  border: 1px solid rgb(128, 128, 128);
  width: 150px;
  height: auto;
  padding: 15px 0;
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}
#header .header__userpanel--dropdown_column-switch-visual {
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-switch-visual .fa-sun {
  scale: 1.5;
  transition: ease-in-out 0.2s;
  color: var(--defaultColor);
}
#header .header__userpanel--dropdown_column-switch-visual .fa-moon {
  scale: 1;
  transition: ease-in-out 0.2s;
  color: var(--defaultColor);
}
#header .header__userpanel--dropdown_column-switch-visual .switch {
  display: block;
  width: 40px;
  height: 20px;
  background-color: gainsboro;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 10px;
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-switch-visual .switch__button {
  display: block;
  position: relative;
  left: 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: var(--slow-fx);
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-switch-visual .checked {
  background-color: greenyellow;
}
#header .header__userpanel--dropdown_column-switch-visual .checked .switch__button {
  left: 20px;
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-cart {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-cart a {
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-cart a:hover {
  color: var(--hoverColor);
}
#header .header__userpanel--dropdown_column-fav {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-fav a {
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-fav a:hover {
  color: var(--hoverColor);
}
#header .header__userpanel--dropdown_column-pref {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-pref a {
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-pref a:hover {
  color: var(--hoverColor);
}
#header .header__userpanel--dropdown_column-logout {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-logout a {
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-logout a:hover {
  color: var(--hoverColor);
}
#header .header__userpanel--dropdown_column-signin {
  cursor: pointer;
}
#header .header__userpanel--dropdown_column-signin a {
  transition: ease-in-out 0.2s;
}
#header .header__userpanel--dropdown_column-signin a:hover {
  color: var(--hoverColor);
}

.mobile-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  font-size: 28px;
  box-sizing: border-box;
  border: 1px solid var(--defaultColor);
  border-radius: 50%;
}

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--defaultColor);
  font-size: 28px;
}

#breadcrumb {
  z-index: 8;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 4px;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#breadcrumb .breadcrumb {
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  letter-spacing: 5px;
  background: var(--containerClr);
  color: var(--defaultColor);
}

#nav {
  z-index: 9;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 4px;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#nav .nav {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 30px;
  background: var(--gradBG);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: relative;
}
#nav .nav__woman {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__woman:hover ~ .woman {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__man {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__man:hover ~ .man {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__kid {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__kid:hover ~ .kid {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__accessories {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__accessories:hover ~ .accessories {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__electronics {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__electronics:hover ~ .electronics {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__sport {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__sport:hover ~ .sport {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__furniture {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__furniture:hover ~ .furniture {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__software {
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
#nav .nav__software:hover ~ .software {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__dropdown {
  border: 1px solid rgbar(128, 128, 128);
  box-sizing: border-box;
  background: var(--bgColor);
  width: 1350px;
  height: 350px;
  position: absolute;
  top: 100%;
  left: 50%;
  display: flex;
  justify-content: center;
  padding: 20px;
  visibility: hidden;
  z-index: 8;
  opacity: 0;
  transform: translate(-50%, -100%);
  transition: ease-in-out 0.2s;
}
#nav .nav__dropdown:hover {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transform: translate(-50%, 0%);
  transition: ease-in-out 0.2s;
}
#nav .nav__dropdown--categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}
#nav .nav__dropdown--categories_columns {
  width: 33%;
  height: 50%;
}
#nav .nav__dropdown--categories_columns-header {
  font-size: 20px;
  margin-bottom: 5px;
}
#nav .nav__dropdown--categories_columns-lists {
  font-size: 16px;
}
#nav .nav__dropdown--categories_columns-lists:not(:last-of-type) {
  margin-bottom: 5px;
}
#nav .nav__dropdown--categories_columns-lists a {
  transition: ease-in-out 0.2s;
}
#nav .nav__dropdown--categories_columns-lists a:hover {
  color: var(--hoverColor);
}
#nav .nav__dropdown--images {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#nav .nav__dropdown--images_top {
  box-sizing: border-box;
  width: 60%;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
}
#nav .nav__dropdown--images_top-img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#nav .nav__dropdown--images_bottom {
  box-sizing: border-box;
  width: 60%;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
}
#nav .nav__dropdown--images_bottom-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section1-categories {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 4px;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#section1-categories .section1-carousels {
  width: 100%;
  height: 550px;
  box-sizing: border-box;
  background-color: coral;
  display: flex;
  position: relative;
}
#section1-categories .section1-carousels__slides {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
#section1-categories .section1-carousels__slides--image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section1-categories .section1-carousels__slides--info {
  position: absolute;
  top: 65%;
  left: 5%;
}
#section1-categories .section1-carousels__slides--info_header {
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}
#section1-categories .section1-radios {
  position: absolute;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  left: 50%;
  bottom: 0%;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  width: 15%;
  height: 80px;
}
#section1-categories .section1-radios__dots {
  scale: 1.5;
  accent-color: rgb(16, 16, 16);
}
#section1-categories .section1-right {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  font-size: 35px;
  border-radius: 50%;
  top: 50%;
  left: 12%;
  background-color: rgba(120, 120, 120, 0.2);
  color: rgba(16, 16, 16, 0.2);
  border: 1px solid rgba(16, 16, 16, 0.2);
  transition: var(--slow-fx);
}
#section1-categories .section1-right:hover {
  background-color: rgba(240, 240, 240, 0.9);
  color: rgba(16, 16, 16, 0.9);
  border: 1px solid rgba(16, 16, 16, 0.9);
  transition: var(--slow-fx);
}
#section1-categories .section1-right:active {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  transition: linear 0.01s;
}
#section1-categories .section1-left {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  font-size: 35px;
  border-radius: 50%;
  top: 50%;
  left: 88%;
  background-color: rgba(120, 120, 120, 0.2);
  color: rgba(16, 16, 16, 0.2);
  border: 1px solid rgba(16, 16, 16, 0.2);
  transition: var(--slow-fx);
}
#section1-categories .section1-left:hover {
  background-color: rgba(240, 240, 240, 0.9);
  color: rgba(16, 16, 16, 0.9);
  border: 1px solid rgba(16, 16, 16, 0.9);
  transition: var(--slow-fx);
}
#section1-categories .section1-left:active {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  transition: linear 0.01s;
}

#section2-exppopcateg {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 4px;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section2-exppopcateg .section2-exppopcateg {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background: var(--containBGv1);
  display: flex;
  flex-direction: column;
}
#section2-exppopcateg .section2-exppopcateg__header {
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0px 40px 20px;
  color: var(--defaultColor);
}
#section2-exppopcateg .section2-exppopcateg__container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 0px 20px;
}
#section2-exppopcateg .section2-exppopcateg__container--cards {
  width: 220px;
  height: 260px;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.2s;
}
#section2-exppopcateg .section2-exppopcateg__container--cards:hover {
  scale: 1.05;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
}
#section2-exppopcateg .section2-exppopcateg__container--cards_cover {
  width: 100%;
  height: 220px;
}
#section2-exppopcateg .section2-exppopcateg__container--cards_cover-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section2-exppopcateg .section2-exppopcateg__container--cards_name {
  margin-top: 20px;
  align-self: center;
}

#section3-topsellbooks {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 4px;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section3-topsellbooks .section3-topsellbooks {
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(220, 220, 220), rgb(100, 100, 100));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 80px 0px 60px 0px;
}
#section3-topsellbooks .section3-topsellbooks__header {
  position: absolute;
  top: 2%;
  transform: translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0px 0px 0px;
  color: var(--defaultColor);
}
#section3-topsellbooks .section3-topsellbooks__cards {
  border: 1px solid none;
  width: 140px;
  height: 200px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  background-color: transparent;
  margin-right: 100px;
  border: 1px solid rgb(160, 160, 160);
  transition: linear 0.35s;
}
#section3-topsellbooks .section3-topsellbooks__cards--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section3-topsellbooks .section3-topsellbooks__cards:hover {
  scale: 1.05;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}

#section4-exppopbrands {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 4px;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#section4-exppopbrands .section4-exppopbrands {
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background: var(--containBGv2);
  display: block;
}
#section4-exppopbrands .section4-exppopbrands__header {
  text-transform: uppercase;
  font-size: 24px;
  margin: 30px 0px 40px 20px;
  color: var(--defaultColor);
}
#section4-exppopbrands .section4-exppopbrands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 0px 20px;
}
#section4-exppopbrands .section4-exppopbrands__container--cards {
  width: 220px;
  height: 260px;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.2s;
}
#section4-exppopbrands .section4-exppopbrands__container--cards:hover {
  scale: 1.05;
  filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
}
#section4-exppopbrands .section4-exppopbrands__container--cards_cover {
  width: 100%;
  height: 220px;
}
#section4-exppopbrands .section4-exppopbrands__container--cards_cover-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section4-exppopbrands .section4-exppopbrands__container--cards_name {
  margin-top: 20px;
  align-self: center;
}

#footer {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 4px;
  width: 1424px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#footer .footer {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(25, 45, 95);
  height: 230px;
  display: flex;
  color: rgb(255, 255, 255);
}
#footer .footer__columns {
  box-sizing: border-box;
  width: 20%;
  position: relative;
}
#footer .footer__columns--logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: invert(1) drop-shadow(0px 0px 3px rgb(0, 0, 0));
}
#footer .footer__columns--headers {
  margin: 30px 0px 20px 10px;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
#footer .footer__columns--lists {
  margin-left: 20px;
  transition: ease-in-out 0.2s;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
#footer .footer__columns--lists a {
  color: rgb(255, 255, 255);
}
#footer .footer__columns--lists:not(:last-of-type) {
  margin-bottom: 10px;
}
#footer .footer__columns--lists a:hover {
  position: relative;
  color: rgb(255, 128, 0);
  transition: ease-in-out 0.2s;
}
#footer .footer__columns--lists:hover {
  transform: translateX(10px);
  transition: ease-in-out 0.2s;
}
#footer .bottom {
  padding: 15px 0;
  box-sizing: border-box;
  border-top: 1px solid rgb(32, 32, 32);
  width: 100%;
  background-color: rgb(16, 16, 16);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#footer .bottom__rights {
  box-sizing: border-box;
  width: 35%;
  color: rgb(255, 255, 255);
}
#footer .bottom__conditions {
  box-sizing: border-box;
  width: 35%;
  display: flex;
  justify-content: space-between;
}
#footer .bottom__conditions a {
  color: rgb(255, 255, 255);
}

#popups .overlay-bolder {
  z-index: 12;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#popups .overlay-blurbg {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#popups .privacypolicy {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 600px;
  overflow: scroll;
  padding: 20px;
}
#popups .privacypolicy__cross {
  position: relative;
  left: 95%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
}
#popups .privacypolicy__text {
  margin-top: 20px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: var(--defaultColor);
}
#popups .termsofuse {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: visible;
  transition: linear 0.35s;
  transform: translate(-50%, -50%) rotateZ(0deg);
  opacity: 1;
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 600px;
  overflow: scroll;
  padding: 20px;
}
#popups .termsofuse__cross {
  position: relative;
  left: 95%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
}
#popups .termsofuse__text {
  margin-top: 20px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: var(--defaultColor);
}
#popups .comingsoon {
  z-index: 13;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 400px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
#popups .comingsoon__cross {
  position: relative;
  top: 10px;
  left: 45%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
  transition: var(--slow-fx);
}
#popups .comingsoon__cross:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
#popups .comingsoon__image {
  border: 6px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: rgb(255, 255, 0);
  animation: alert 1.1s ease-in-out 0s 1;
}
#popups .comingsoon__image--symbol {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popups .comingsoon__text {
  font-size: 20px;
  filter: drop-shadow(0px 0px 5px rgb(255, 0, 0));
  color: rgb(8, 0, 0);
}
#popups .comingsoon__ok {
  margin-bottom: 40px;
  width: 70px;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(16, 16, 16);
  transition: var(--slow-fx);
}
#popups .comingsoon__ok:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
@keyframes alert {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: 0deg;
  }
  20% {
    rotate: 30deg;
  }
  30% {
    rotate: -25deg;
  }
  40% {
    rotate: 20deg;
  }
  50% {
    rotate: -15deg;
  }
  60% {
    rotate: 10deg;
  }
  70% {
    rotate: 0deg;
  }
  100% {
    rotate: 0deg;
  }
}
#popups .signed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 400px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
#popups .signed__cross {
  position: relative;
  top: 10px;
  left: 45%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
  transition: var(--slow-fx);
}
#popups .signed__cross:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
#popups .signed__image {
  border: 6px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 255, 0);
}
#popups .signed__image--symbol {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popups .signed__text {
  font-size: 20px;
  filter: drop-shadow(0px 0px 5px rgb(0, 255, 0));
  color: rgb(8, 0, 0);
}
#popups .signed__ok {
  margin-bottom: 40px;
  width: 70px;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(16, 16, 16);
  transition: var(--slow-fx);
}
#popups .signed__ok:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
#popups .registered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(128, 128, 128);
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 400px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
#popups .registered__cross {
  position: relative;
  top: 10px;
  left: 45%;
  border: none;
  background-color: transparent;
  color: var(--defaultColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
  transition: var(--slow-fx);
}
#popups .registered__cross:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
#popups .registered__image {
  border: 6px solid rgb(0, 0, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: rgb(0, 128, 255);
}
#popups .registered__image--symbol {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popups .registered__text {
  font-size: 20px;
  filter: drop-shadow(0px 0px 5px rgb(0, 128, 255));
  color: rgb(8, 0, 0);
}
#popups .registered__ok {
  margin-bottom: 40px;
  width: 70px;
  height: 34px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(16, 16, 16);
  transition: var(--slow-fx);
}
#popups .registered__ok:hover {
  filter: brightness(1.2);
  scale: 1.05;
  transition: var(--slow-fx);
}
#popups .loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.2);
  box-sizing: border-box;
  border: none;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#popups .loading__animation {
  width: 250px;
  height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#popups .loading__animation--svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: loadingCircle 4.5s linear 0ms infinite;
}
@keyframes loadingCircle {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
#popups .overlay-iv {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.01);
}

#section-auth {
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1424px;
  height: 750px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  background: linear-gradient(to right, rgb(0, 128, 255), rgb(0, 0, 255), rgb(0, 128, 255));
}
#section-auth .section-auth__gobackhome {
  z-index: 20;
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translate(-50%, -50%);
  display: block !important;
  border: 2px solid rgb(16, 16, 16);
  background-color: rgb(255, 255, 255);
  color: rgb(16, 16, 16);
  width: 60px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 24px;
  transition: ease-in-out 0.2s;
}
#section-auth .section-auth__gobackhome:hover {
  border: 2px solid rgb(255, 255, 0);
  background: radial-gradient(rgb(255, 255, 255), rgb(255, 255, 0));
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 15px rgb(255, 255, 0));
}
#section-auth .section-auth__buttons {
  border: 1px solid red;
  width: 50%;
  background-color: rgb(255, 255, 255);
}
#section-auth .section-auth__container {
  border: 1px solid red;
  width: 50%;
  background-color: rgb(255, 255, 255);
}
#aboutus {
  z-index: 8;
  margin-top: 4px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#aboutus .aboutus {
  width: 100%;
  background-color: var(--bgColor);
}
#faq {
  z-index: 8;
  margin-top: 4px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#faq .faq {
  width: 100%;
  background-color: var(--bgColor);
}
#locations {
  z-index: 8;
  margin-top: 4px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 1424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#locations .locations {
  width: 100%;
  background-color: var(--bgColor);
}
#pages_of_products {
  z-index: 8;
  margin-top: 4px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 1424px;
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
  background-color: var(--bgColor);
}
#pages_of_products .top_panel {
  width: 100%;
  background-color: var(--bgColor);
}
#pages_of_products .filters_panel {
  background-color: var(--bgColor);
}
#productpage {
  z-index: 8;
  margin-top: 4px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 1424px;
  box-sizing: border-box;
  border: 1px solid var(--highlightColor);
}
.hidden {
  transition: linear 0.35s;
  opacity: 0;
  display: none !important;
}

.invisible {
  visibility: hidden !important;
  z-index: 8 !important;
  opacity: 0 !important;
  transform: translate(0%, -100%) !important;
  transition: ease-in-out 0.2s !important;
}

.invisible-v2 {
  visibility: hidden !important;
  transition: linear 0.35s !important;
  transform: translate(-50%, -50%) rotateZ(-15deg) !important;
  opacity: 0 !important;
}/*# sourceMappingURL=Ploranza.css.map */