// default font parameters
* {
    font-size: 14px;
    font-weight: 500;
    color: $default-text-color;
}

// default link parameters
a {
    text-decoration: none;
    color: $default-text-color;
}

// default list parameters
li {
    list-style: none;
}

// default margin & padding parameters
body, ul, h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
// ======================================== ►
// value & mixins
$default-text-color: rgb(0,0,0);

// @mixin name {}
// ======================================== ►
// navigation start
#nav {
    .nav__bgimage {
        position: relative;
    }

    .nav__logo {
        position: absolute;
        top: 50%;
        left: 50%;

        &--image {}
    }

    .nav__mcontainer {
        &--menus {

            &_list {
                list-style: none;
            }

            &_link {
                text-decoration: none;
                color: $default-text-color;
            }
        }
    }

    .nav__text {

        &--icons {}

        .fa-brands {}
    }

    .nav__social {}
}

// @include name; --> linked @mixin value | @extend copy from a class
@media only screen and (max-width: 575px) {}
@media only screen and (max-width: 767px) {}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 1199px) {}
// ======================================== ►
// main start
// ======================================== ►
// footer start