// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
//                              var(--default-color)
//                              var(--text-color)
//                              var(--text-negative-color)
//                              var(--link-color)
//                              var(--link-hover-color)
//                              var(--link-active-color)
//                              var(--default-bg-color)
//                              var(--footer-bg-color)
//                              var(--footer-bottom-color)
//                              var(--header-bg-color)
//                              var(--header-top-color)
//                              var(--buttons-color)
//                              var(--buttons-hover-color)
//                              var(--buttons-active-color)
//                              var(--filter-shadow-color)
//                              var(--borders-color)
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
.products {
    z-index: 1;
    width: 100%; // 100%
    height: auto;
    // border: 1px solid red;
    background-color: var(--default-bg-color);
    color: var(--text-color);
    display: flex; // flex table
    justify-content: center;
    align-items: flex-start;
    // flex-direction: column;
    padding: 00px 10px 40px 10px; // top right bottom left
    transition: var(--quick-fx);
    flex-wrap: wrap;

    &__topside {
        width: 100%;
        height: auto;
        background-color: var(--default-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        border: none;
        border-bottom: 1px solid var(--borders-color);
        margin-bottom: 10px;
        padding: 10px;
        &_filterbtn {
            width: 60px;
            height: auto;
            padding: 2px;
            border: 1px solid var(--borders-color);
            border-radius: 2px;
            color: var(--link-color);
            background-color: var(--buttons-color);
            transition: var(--quick-fx);
            font-weight: 600;
            &:hover {
                background-color: var(--buttons-hover-color);
                color: var(--link-hover-color);
            }
            &:active {
                transition: var(--instant-fx);
                background-color: var(--buttons-active-color);
                color: var(--link-active-color);
            }
        }
        &_filtertags {
            border: none;
            border-left: 2px solid var(--text-color);
            border-right: 2px solid var(--text-color);
            width: 700px;
            padding: 5px 20px 5px 20px;
            gap: 5px;
            display: flex;
            flex-wrap: wrap;
            &__selected {
                width: fit-content;
                background-color: var(--buttons-color);
                border: 1px solid var(--borders-color);
                color: var(--text-color);
                display: flex;
                padding: 2px;
                border-radius: 3px;
                .xmark {
                    color: var(--link-color);
                    margin-left: 4px;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;
                    height: fit-content;
                    padding: 1px;
                    transition: var(--quick-fx);
                    &:hover {
                        color: var(--buttons-hover-color);
                        filter: brightness(0.5);
                    }
                    &:active {
                        transition: var(--instant-fx);
                        color: var(--buttons-active-color);
                    }
                }
            }
        }
        &_sort {
            border: none;
            outline: none;
            color: var(--text-color);
            background-color: transparent;
            font-weight: 600;
            option {
                background-color: var(--default-bg-color);
            }
        }
    }

    // temporary component which FilterAside will replace it
    .filteraside {
        margin: 80px 0px 0px 0px; // top right bottom left
        width: 0px; // 0px 300px
        height: 600px;
        border: none;
        border-right: 2px solid var(--borders-color);
        display: flex; // flex table-cell
        justify-content: flex-start;
        align-items: flex-start;
        transition: var(--slow-fx);
        visibility: hidden; // visible hidden
        opacity: 0.0; // 1.0 0.0
        transform: translateX(-100%); // -0% -100%
        flex-direction: column;
        padding: 40px 0px 0px 0px; // top right bottom left
        &__header {
            font-size: 40px;
            font-weight: 900;
            text-transform: uppercase;
            filter: drop-shadow(0 0 3px var(--filter-shadow-color));
            margin-bottom: 20px;
            align-self: center;
        }
        &__categories_label {
            padding-left: 20px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 30px;
        }
        &__categories {
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            &_buttons {
                font-weight: 600;
                border: 1px solid var(--borders-color);
                border-radius: 2px;
                background-color: var(--buttons-color);
                color: var(--text-color);
                transition: var(--quick-fx);
                width: fit-content;
                height: fit-content;
                padding: 3px;
                &:hover {
                    background-color: var(--buttons-hover-color);
                }
                &:active {
                    transition: var(--instant-fx);
                    background-color: var(--buttons-active-color);
                }
            }
        }
        &__price_label {
            padding-left: 20px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 30px;
        }
        &__price_container {
            padding-left: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            &__input {
                width: 120px;
                height: 24px;
                padding-left: 6px;
                color: var(--text-color);
                font-weight: 600;
                border: 1px solid var(--borders-color);
                border-radius: 4px;
                outline: none;
                background-color: var(--searchbar-bg);
            }
            &__submit {
                width: 250px;
                height: 24px;
                border: 1px solid var(--borders-color);
                color: var(--text-color);
                font-weight: 600;
                border-radius: 4px;
                background-color: var(--buttons-color);
                transition: var(--quick-fx);
                &:hover {
                    background-color: var(--buttons-hover-color);
                }
                &:active {
                    transition: var(--instant-fx);
                    background-color: var(--buttons-active-color);
                }
            }
        }
        &__rating_label {
            padding-left: 20px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 30px;
        }
        &__rating_container {
            padding-left: 20px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            &__buttons {
                display: flex;
                &_item {
                    font-weight: 600;
                    border: 1px solid var(--borders-color);
                    border-radius: 2px;
                    background-color: var(--buttons-color);
                    color: var(--text-color);
                    transition: var(--quick-fx);
                    width: fit-content;
                    height: fit-content;
                    padding: 3px;
                    &:hover {
                        background-color: var(--buttons-hover-color);
                    }
                    &:active {
                        transition: var(--instant-fx);
                        background-color: var(--buttons-active-color);
                    }
                    &__text {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .container {
        margin: 80px 0px 0px 0px; // top right bottom left
        width: 1400px; // 1400px 1100px
        height: auto;
        display: flex; // flex table-cell
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px 28px; // 20px 12px | 20px 28px
        flex-wrap: wrap;
        border: none;
        padding: 20px;
        transition: var(--slow-fx);
        .products__cards {
            border: 1px solid var(--borders-color);
            width: 200px;
            height: 280px;
            background-color: rgb(255,255,255);
            border-radius: 6px;
            overflow: hidden;
            cursor: pointer;
            transition: var(--quick-fx);
            &:hover {
                filter: drop-shadow(0 0 6px var(--filter-shadow-color));
                scale: 1.03;
            }
            &_image {
                width: 100%;
                height: 180px;
                border: none;
                border-bottom: 1px solid var(--borders-color);
                overflow: hidden;
                position: relative;
                align-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
                &__content {
                    z-index: 0;
                    width: 60%;
                    height: 100%;
                    object-fit: cover;
                }
                &__favbtn {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    opacity: 0.5;
                    width: 25px;
                    height: 25px;
                    background-color: var(--buttons-color);
                    color: var(--link-color);
                    border: 1px solid var(--borders-color);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    transition: var(--quick-fx);
                    &:hover {
                        background-color: var(--buttons-hover-color);
                        opacity: 0.9;
                        color: var(--link-hover-color);
                    }
                    &:active {
                        transition: var(--instant-fx);
                        background-color: var(--buttons-active-color);
                        opacity: 1.0;
                        color: var(--link-active-color);
                    }
                }
            }
            &_information {
                width: 100%;
                height: auto;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                color: var(--header-top-color);
                &__titleandcateg {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    &_title {
                        font-size: 14px;
                        font-weight: 600;
                        height: 14px;
                        overflow: auto;
                    }
                    &_categ {
                        font-size: 12px;
                        opacity: 0.5;
                        font-style: italic;
                        align-self: flex-start;
                    }
                }
                &__rating {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 40px;
                    &_stars {
                        color: var(--link-hover-color);
                        scale: 0.8;
                    }
                    &_point {
                        opacity: 0.9;
                    }
                }
                &__description {
                    font-size: 12px;
                }
                &__price {
                    font-size: 14px;
                    font-weight: 900;
                }
            }
        }
        .loadmore {
            font-size: 18px;
            font-weight: 600;
            background-color: transparent;
            color: var(--link-color);
            letter-spacing: 3px;
            border: none;
            cursor: pointer;
            outline: none;
            transition: var(--quick-fx);
            position: relative;
            // width: fit-content;
            width: 100%;
            bottom: 0%;
            left: 50%;
            transform: translateX(-50%);
            &:hover {
                color: var(--link-hover-color);
                filter: drop-shadow(0 0 1px var(--filter-shadow-color));
            }
            &:active {
                transition: var(--instant-fx);
                color: var(--link-active-color);
            }
        }
    }
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬