body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(250,250,250);
    margin: 0px;
    padding: 0px;
}
footer {
    .container1 {
        display: flex;
        justify-content: space-around;
        background-color: rgb(34,34,34);
        padding: 80px;
        opacity: 1.0;
        ul {
            opacity: 0.7;
            p {
                opacity: 0.7;
            }
            li {
                list-style: none;
                font-weight: 400;
                a {
                    text-decoration: none;
                    color: rgb(255,0,0,1.0);
                }
            }
        }
        h1 {
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            opacity: 1.0;
        }
        .block1 {
            width: 403px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .block2 {
            width: 403px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .date {
                color: rgb(128,128,128);
            }
        }
        .block3 {
            width: 403px;
        }
    }
    .container2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(17,17,17);
        min-height: 80px;
        .info {
            margin-left: 700px;
        }
        i {
            margin-right: 20px;
        }
        p {
            opacity: 0.7;
            a {
                text-decoration: none;
                color: rgb(250,250,250);
            }
        }
    }
}