* {
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#nav .nav-bgimage {
  width: 99.85%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  border: none;
}
@media only screen and (max-width: 575px) {
  #nav .nav-bgimage {
    -o-object-position: center;
       object-position: center;
    height: 700px;
  }
}
#nav .nav {
  position: relative;
  padding: 50px 20px;
  border: none;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  #nav .nav {
    height: 600px;
  }
}
#nav .nav__tab {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  #nav .nav__tab {
    justify-content: space-between;
  }
}
#nav .nav__logo--link {
  border: none;
}
#nav .nav__logo--img {
  border: none;
}
#nav .nav__menubutton {
  display: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
}
@media only screen and (max-width: 575px) {
  #nav .nav__menubutton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav .nav__menubutton:hover .nav__menucontainer {
    visibility: visible;
  }
}
#nav .fa-bars {
  border: none;
  scale: 3.2 2.8;
}
#nav .nav__menucontainer {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (max-width: 575px) {
  #nav .nav__menucontainer {
    display: block;
    position: relative;
    top: 0px;
    left: 50%;
    width: 50%;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(0, 0, 0);
    line-height: 50px;
    visibility: hidden;
  }
}
#nav .nav__menucontainer--list {
  border: none;
  transition: linear 1.5s;
}
#nav .nav__menucontainer--list:hover {
  background: linear-gradient(to right, rgb(255, 255, 128), rgb(255, 172, 128));
  transition: linear 1.5s;
}
@media only screen and (max-width: 575px) {
  #nav .nav__menucontainer--list {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
}
#nav .nav__menucontainer--link {
  border: none;
}
@media only screen and (max-width: 575px) {
  #nav .nav__menucontainer--link {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
  }
}
#nav .nav__text {
  border: none;
  font-size: 80px;
  font-weight: 800;
  width: 60%;
  position: relative;
  left: 20%;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  #nav .nav__text {
    font-size: 50px;
    font-weight: 500;
    width: 65%;
    left: 15%;
  }
}
#nav .nav__social {
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media only screen and (max-width: 575px) {
  #nav .nav__social {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
#nav .nav__social--links {
  border: none;
  scale: 1.5;
}
@media only screen and (max-width: 575px) {
  #nav .nav__social--links {
    scale: 2;
  }
}
#nav .fa-brands {
  border: none;
}

#main .sections {
  width: 99.85%;
  height: auto;
  border: none;
}
#main .memories {
  width: 90%;
  height: auto;
  border: none;
  position: relative;
  left: 5%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 100px 0px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media only screen and (max-width: 575px) {
  #main .memories {
    flex-direction: column-reverse;
  }
}
#main .memories__image {
  border: none;
  width: 48%;
  height: auto;
}
@media only screen and (max-width: 575px) {
  #main .memories__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 500px;
  }
}
#main .memories__textcontainer {
  border: none;
  width: 35%;
}
@media only screen and (max-width: 575px) {
  #main .memories__textcontainer {
    width: 100%;
  }
}
#main .memories__textcontainer--header {
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: rgb(0, 0, 0);
  margin-bottom: 60px;
}
@media only screen and (max-width: 575px) {
  #main .memories__textcontainer--header {
    width: 70%;
    font-size: 50px;
    line-height: 60px;
  }
}
#main .memories__textcontainer--description {
  width: 85%;
  color: rgb(0, 0, 0);
  border: none;
  margin-bottom: 50px;
}
@media only screen and (max-width: 575px) {
  #main .memories__textcontainer--description {
    width: 100%;
    font-size: 24px;
  }
}
#main .memories__textcontainer--button, #main .booking__button, #main .popular__button {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  width: 140px;
  height: 45px;
  background-color: transparent;
  cursor: pointer;
  transition: linear 0.15s;
}
#main .memories__textcontainer--button:hover, #main .booking__button:hover, #main .popular__button:hover {
  background-color: rgb(16, 16, 16);
  color: rgb(255, 255, 255);
  transition: linear 0.15s;
}
@media only screen and (max-width: 575px) {
  #main .memories__textcontainer--button, #main .booking__button, #main .popular__button {
    scale: 1.2;
    position: relative;
    left: 3%;
  }
}
#main .popular {
  width: 90%;
  position: relative;
  left: 5%;
  border: none;
  padding: 80px 0px 40px;
  background-color: rgb(245, 245, 245);
}
#main .popular__header {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 60px;
  font-size: 60px;
}
@media only screen and (max-width: 575px) {
  #main .popular__header {
    font-size: 40px;
  }
}
#main .popular__container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  #main .popular__container {
    flex-direction: column;
  }
}
#main .popular__container--cards {
  width: 40%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  #main .popular__container--cards {
    width: 80%;
    justify-content: space-around;
  }
}
#main .popular__container--cards_image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  #main .popular__container--cards_image {
    margin-left: 19%;
    width: 86%;
  }
}
#main .popular__container--cards_header {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  #main .popular__container--cards_header {
    margin-left: 19%;
    width: 86%;
    position: relative;
  }
}
#main .product-name {
  color: rgb(0, 0, 0);
  font-size: 30px;
}
#main .popular__container--cards_price {
  color: rgb(0, 0, 0);
  font-size: 30px;
}
@media only screen and (max-width: 575px) {
  #main .popular__container--cards_price {
    position: absolute;
    top: 160px;
  }
}
#main .popular__container--cards_text {
  color: rgb(0, 0, 0);
}
@media only screen and (max-width: 575px) {
  #main .popular__container--cards_text {
    margin-left: 19%;
    width: 86%;
    font-size: larger;
    margin-bottom: 100px;
  }
}
#main .popular__buttonlink {
  position: relative;
  left: 44%;
}
@media only screen and (max-width: 575px) {
  #main .popular__buttonlink {
    left: 34%;
  }
}
#main .popular__button {
  margin-top: 100px;
}
@media only screen and (max-width: 575px) {
  #main .popular__button {
    margin-top: 40px;
  }
}
#main .gallery {
  border: none;
  display: flex;
  justify-content: space-between;
  padding: 140px 0px 10px;
  width: 90%;
  height: auto;
  position: relative;
  left: 5%;
}
@media only screen and (max-width: 575px) {
  #main .gallery {
    flex-direction: column-reverse;
  }
}
#main .gallery__column {
  width: 50%;
}
@media only screen and (max-width: 575px) {
  #main .gallery__column {
    width: 100%;
  }
}
#main .gallery__header {
  margin: 160px 0px 40px;
  color: rgb(0, 0, 0);
  font-size: 60px;
  width: 80%;
}
@media only screen and (max-width: 575px) {
  #main .gallery__header {
    font-size: 40px;
    margin: 80px 0px 20px;
  }
}
#main .gallery__text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 70%;
  line-height: 20px;
}
@media only screen and (max-width: 575px) {
  #main .gallery__text {
    font-size: 21px;
    line-height: 24px;
    width: 95%;
    margin-bottom: 100px;
  }
}
#main .gallery__img {
  width: 100%;
}
#main .spec-edit {
  width: 45%;
  margin-bottom: 50px;
}
@media only screen and (max-width: 575px) {
  #main .spec-edit {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
}
#main .last-img {
  width: 80%;
  position: relative;
  left: 20%;
}
@media only screen and (max-width: 575px) {
  #main .last-img {
    width: 100%;
    left: 0%;
  }
}
#main .booking {
  border: none;
  width: 90%;
  height: 660px;
  position: relative;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 70px;
  background-color: rgb(245, 245, 245);
}
@media only screen and (max-width: 575px) {
  #main .booking {
    height: 500px;
  }
}
#main .booking__header {
  color: rgb(0, 0, 0);
  font-size: 60px;
}
@media only screen and (max-width: 575px) {
  #main .booking__header {
    margin-top: 40px;
  }
}
#main .booking__text {
  border: none;
  color: rgb(0, 0, 0);
  width: 25%;
  line-height: 30px;
}
@media only screen and (max-width: 575px) {
  #main .booking__text {
    font-size: 20px;
    width: 75%;
  }
}
#footer .footer {
  border: none;
  width: 99.85%;
  height: 400px;
  background-color: rgb(16, 16, 16);
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: center;
}
@media only screen and (max-width: 575px) {
  #footer .footer {
    width: 94.5%;
    height: 1100px;
    flex-direction: column;
    padding: 0px 15px;
  }
}
#footer .footer__logocolumn {
  margin-top: 110px;
  border: none;
  width: 17%;
  margin-right: 150px;
  height: 200px;
}
@media only screen and (max-width: 575px) {
  #footer .footer__logocolumn {
    margin-top: 70px;
    width: 99.85%;
    margin-right: 0px;
  }
}
#footer .footer__columns {
  margin-top: 140px;
  border: none;
  width: 13%;
  height: 200px;
}
@media only screen and (max-width: 575px) {
  #footer .footer__columns {
    margin-top: 50px;
    width: 99.85%;
  }
}
#footer .footer__columns--ginza {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}
@media only screen and (max-width: 575px) {
  #footer .footer__columns--ginza {
    text-align: left;
  }
}
#footer .footer__columns--social {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 40px;
}
@media only screen and (max-width: 575px) {
  #footer .footer__columns--social {
    justify-content: left;
  }
}
#footer .social_links {
  scale: 1.5;
}
#footer .footer__columns--header {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}/*# sourceMappingURL=zyro-ginza.css.map */