.homepage {
  z-index: 1;
  width: 100vw;
  height: auto;
  border: none;
  background-color: var(--default-bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  padding: 140px 0px 80px 0px;
  transition: var(--quick-fx);
}
@media only screen and (max-width: 1199px) {
  .homepage {
    width: 1199px;
    gap: 150px;
    padding: 100px 0px 60px 0px;
  }
}
@media only screen and (max-width: 991px) {
  .homepage {
    width: 991px;
    gap: 150px;
    padding: 100px 0px 60px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .homepage {
    width: 767px;
    gap: 150px;
    padding: 100px 0px 60px 0px;
  }
}
@media only screen and (max-width: 575px) {
  .homepage {
    width: 575px;
    gap: 150px;
    padding: 100px 0px 60px 0px;
  }
}
.homepage__sections {
  z-index: 0;
  width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin: 10px 0px;
  padding: 0px 10px;
}
@media only screen and (max-width: 1199px) {
  .homepage__sections {
    width: 1199px;
  }
}
@media only screen and (max-width: 991px) {
  .homepage__sections {
    width: 991px;
  }
}
@media only screen and (max-width: 767px) {
  .homepage__sections {
    width: 767px;
  }
}
@media only screen and (max-width: 575px) {
  .homepage__sections {
    width: 575px;
  }
}
.homepage__sections_topside {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  margin-bottom: 40px;
  border: none;
  border-bottom: 4px solid var(--borders-color);
}
.homepage__sections_topside__header {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.homepage__sections_topside__box {
  width: 100px;
  height: 40px;
  display: flex;
  gap: 20px;
}
.homepage__sections_topside__box_buttons {
  width: 40px;
  height: 40px;
  border: 1px solid var(--borders-color);
  background-color: var(--buttons-color);
  color: var(--text-color);
  transition: var(--quick-fx);
}
.homepage__sections_topside__box_buttons:hover {
  background-color: var(--buttons-hover-color);
  color: var(--text-color);
}
.homepage__sections_topside__box_buttons:active {
  transition: var(--instant-fx);
  background-color: var(--buttons-active-color);
  color: var(--text-color);
}
.homepage__sections_container {
  width: 62.5%;
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  overflow: hidden;
  position: relative;
  border: none;
  border-left: 3px solid var(--borders-color);
  border-right: 3px solid var(--borders-color);
}
@media only screen and (max-width: 1199px) {
  .homepage__sections_container {
    width: 73%;
  }
}
@media only screen and (max-width: 991px) {
  .homepage__sections_container {
    width: 89%;
  }
}
@media only screen and (max-width: 767px) {
  .homepage__sections_container {
    width: 86%;
  }
}
@media only screen and (max-width: 575px) {
  .homepage__sections_container {
    width: 76%;
  }
}
.homepage__sections_container__cards {
  width: 200px;
  height: 240px;
  border: 1px solid var(--borders-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: var(--searchbar-bg);
  transition: var(--quick-fx);
  position: absolute;
}
.homepage__sections_container__cards:hover {
  filter: drop-shadow(0 0 5px var(--filter-shadow-color));
}
.homepage__sections_container__cards_image {
  width: 100%;
  height: 200px;
  border: 1px solid var(--borders-color);
  overflow: hidden;
}
.homepage__sections_container__cards_image__content {
  width: 100%;
  height: 100%;
  padding: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgba(255, 255, 255, 0);
  mix-blend-mode: multiply;
}
.homepage__sections_container__cards_title {
  font-size: 16px;
  margin: 0 20px;
  color: var(--text-color);
}/*# sourceMappingURL=index.module.css.map */