// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
:root {
    // custom color picks for LIGHT/DARK mode --- this values is LIGHT mode values for starting
    --default-color: rgb(155,155,155);
    --text-color: rgb(5,5,5);
    --text-negative-color: rgb(205,205,205);
    --link-color: rgb(25,25,25);
    --link-hover-color: rgb(250,150,50);
    --link-active-color: rgb(255,75,0);
    --default-bg-color: rgb(215,215,215);
    --footer-bg-color: rgb(12,24,48);
    --footer-bottom-color: rgb(35,35,35);
    --header-bg-color: rgba(185,185,185,0.7);
    --header-top-color: rgb(45,45,45);
    --buttons-color: rgb(200,200,200);
    --buttons-hover-color: rgb(255,255,100);
    --buttons-active-color: rgb(125,255,5);
    --filter-shadow-color: rgb(10,10,10);
    --borders-color: rgb(45,45,45);
    --body-bg: linear-gradient(to right, rgb(250,150,10), rgb(10,250,150)); // to bottom right

    // transition speeds
    --slow-fx: ease-in-out 0.35s;
    --quick-fx: ease 0.15s;
    --instant-fx: linear 0s;
    // responsivity sizes ( use with @media only screen and (max-width: var(--mobile-device) {...}; )
    --extra-small-device: 575px;
    --mobile-device: 767px;
    --tablet-device: 991px;
    --desktop-device: 1199px;
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
body {
    // pin components on center
    display: flex;
    justify-content: center;
    background: var(--body-bg);
    width: 100%;
    height: 100%;
    border: none;
    // align-items: center;
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
* {
    // zeroing defaults
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    // fixing
    list-style: none;
    text-decoration: none;
    // font adjustments
    font-size: 14px;
    // border: 1px solid red;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--dark-black);
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
// button cursor
button {
    cursor: pointer;
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
// mixins (use with @include ...; )
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬