// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
.header {
    // header overall container
    width: 100vw; // vh, vw, px, %, rem
    height: auto;
    background-color: var(--dark-white);
    border: none;
    // top navbar side of the header
    &__list {
        position: relative;
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--dark-black);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        // background: linear-gradient(to bottom, var(--mid-black), var(--dark-grey));
        background-color: var(--default-color);
        &_buttons {
            border: none;
            border-bottom: 1px solid var(--light-white);
            background-color: transparent;
            color: var(--light-white);
            font-size: 14px;
            font-weight: 600;
            text-transform: capitalize;
            transition: var(--quick-fx);
            #fa_caret {
                color: var(--light-white);
                margin: 0px 0px 0px 5px; // top right bottom left
                scale: 0.8;
                rotate: 180deg;
                transition: var(--quick-fx);
            }
            &:hover {
                scale: 1.01;
                color: var(--light-red);
                border-bottom: 1px solid var(--light-red);
                filter: drop-shadow(0 0 3px var(--mid-black));
                #fa_caret {
                    rotate: 0deg;
                }
            }
            &:active {
                transition: var(--instant-fx);
                color: var(--mid-red);
                border-bottom: 1px solid var(--mid-red);
                filter: drop-shadow(0 0 8px var(--light-red));
                #fa_caret {
                    rotate: 0deg;
                }
            }
        }
        &_productsdropdown {
            z-index: 2;
            position: absolute;
            top: 100%;
            left: 30%;
            width: 500px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 10px 0px;
            gap: 10px;
            border: 1px solid var(--dark-black);
            background-color: var(--light-white);
            filter: drop-shadow(0 0 10px var(--dark-black));
            display: none;
            &__columns {
                display: flex;
                flex-direction: column;
                width: 33%;
                &_header {
                    font-size: 18px;
                    font-weight: 900;
                    margin-left: 30px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                &_items {
                    font-weight: 600;
                    cursor: pointer;
                    margin-left: 30px;
                    transition: var(--quick-fx);
                    &:hover {
                        color: var(--light-red);
                    }
                    &:active {
                        transition: var(--instant-fx);
                        color: var(--mid-red);
                    }
                }
                &_discount {
                    font-size: 18px;
                    font-weight: 900;
                    cursor: pointer;
                    margin-left: 30px;
                    text-transform: uppercase;
                    transition: var(--quick-fx);
                    &:hover {
                        color: var(--light-red);
                    }
                    &:active {
                        transition: var(--instant-fx);
                        color: var(--mid-red);
                    }
                }
            }
        }
    }
    // bottom main side of the header
    &__main{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        font-size: 14px;
        font-weight: 600;
        background: linear-gradient(to bottom, var(--mid-white), var(--light-grey));
        border: none;
        border-bottom: 1px solid var(--dark-grey);
        padding: 0 5%;
        &_logo {
            border: none;
            width: 60px;
            height: 100%;
            overflow: hidden;
            &__content {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &_langbar {
            height: 100%;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            #fa_globe {
                width: auto;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 2px;
                margin-right: 5px;
            }
            &__selector {
                width: auto;
                height: 30px;
                padding: 2px;
                background-color: transparent;
                outline: none;
                border: none;
                font-weight: 600;
                color: var(--dark-black);
                &_options {
                    font-weight: 600;
                    background-color: var(--light-grey);
                    &:checked {
                        color: var(--mid-grey);
                    }
                }
            }
        }
        &_search {
            height: 100%;
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__input {
                padding-left: 10px;
                width: 70%;
                height: 30px;
                border: none;
                outline: none;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                color: var(--mid-black);
                font-weight: 600;
            }
            &__button {
                width: 50px;
                height: 30px;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                background-color: var(--light-grey);
                border: 1px solid var(--light-grey);
                transition: var(--quick-fx);
                #fa_glass {
                    color: var(--dark-grey);
                }
                &:hover {
                    background-color: var(--light-red);
                    border: 1px solid var(--light-black);
                    #fa_glass {
                        color: var(--light-black);
                    }
                }
                &:active {
                    transition: var(--instant-fx);
                    background-color: var(--mid-red);
                    border: 1px solid var(--dark-black);
                    #fa_glass {
                        color: var(--dark-black);
                    }
                }
            }
        }
        &_switch {
            height: 100%;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            &__slider {
                position: relative;
                width: 40px;
                height: 20px;
                border: 1px solid var(--mid-grey);
                border-radius: 10.5px;
                box-sizing: content-box;
                margin: 0 10px;
                background-color: var(--light-yellow);
                &_button {
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    width: 20px;
                    height: 20px;
                    border: 1px solid var(--light-grey);
                    border-radius: 50%;
                    background-color: var(--light-white);
                }
            }
            #fa_sun {
                scale: 1.8;
                opacity: 0.9;
            }
            #fa_moon {
                scale: 1.0;
                opacity: 0.5;
            }
        }
        &_userpanel {
            height: 100%;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &__image {
                width: 40px;
                height: 40px;
                border: 1px solid var(--mid-grey);
                border-radius: 50%;
            }
            &__status {
                margin-left: 10px;
                font-weight: 600;
            }

            &_dropdown {
                z-index: 2;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 150px;
                height: auto;
                display: flex;
                flex-direction: column;
                padding: 10px 0px;
                gap: 10px;
                border: 1px solid var(--dark-black);
                background-color: var(--light-white);
                filter: drop-shadow(0 0 10px var(--dark-black));
                display: none;
                &__items {
                    font-weight: 600;
                    cursor: pointer;
                    margin-left: 30px;
                    transition: var(--quick-fx);
                    #fa_symbols {
                        margin-right: 5px;
                    }
                    &:hover {
                        color: var(--light-red);
                        #fa_symbols {
                            color: var(--light-red);
                        }
                    }
                    &:active {
                        transition: var(--instant-fx);
                        color: var(--mid-red);
                        #fa_symbols {
                            color: var(--mid-red);
                        }
                    }
                }
            }
        }
    }
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬