* {
  color: rgb(0, 0, 0);
}
* body, * h1, * h2, * h3, * h4, * h5, * h6, * ul, * p {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}
* li {
  list-style: none;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 991px) {
  #nav {
    width: 90%;
  }
}
@media only screen and (max-width: 767px) {
  #nav {
    width: 90%;
  }
}
#nav .nav {
  padding: 0 5%;
  background-color: rgb(255, 255, 255);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 991px) {
  #nav .nav {
    width: 82%;
  }
}
@media only screen and (max-width: 767px) {
  #nav .nav {
    width: 82%;
  }
}
#nav .nav__logo {
  width: 120px;
}
#nav .nav__button {
  display: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}
@media only screen and (max-width: 991px) {
  #nav .nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav .nav__button:hover ~ .nav__menus {
    visibility: visible;
  }
}
@media only screen and (max-width: 767px) {
  #nav .nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nav .nav__button:hover ~ .nav__menus {
    visibility: visible;
  }
}
#nav .fa-bars {
  scale: 2.5 2;
}
#nav .nav__menus {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media only screen and (max-width: 991px) {
  #nav .nav__menus {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    top: 100%;
    left: 0%;
    flex-direction: column;
    text-align: right;
    visibility: hidden;
  }
}
@media only screen and (max-width: 767px) {
  #nav .nav__menus {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    top: 100%;
    left: 0%;
    flex-direction: column;
    text-align: right;
    visibility: hidden;
  }
}
#nav .nav__menus--links {
  font-size: 20px;
}
#nav .nav__menus--links:hover {
  text-decoration: underline;
  transition: linear 0.15s;
}
@media only screen and (max-width: 991px) {
  #nav .nav__menus--links {
    padding: 0 5%;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  #nav .nav__menus--links {
    padding: 0 5%;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
  }
}

#main .freeshipping {
  height: 40px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media only screen and (max-width: 991px) {
  #main .freeshipping {
    width: 92%;
  }
}
@media only screen and (max-width: 767px) {
  #main .freeshipping {
    width: 92%;
  }
}
#main .freeshipping__text {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  #main .freeshipping__text {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  #main .freeshipping__text {
    font-size: 30px;
  }
}
#main .freeshipping__button {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
#main .freeshipping__button:hover {
  background-color: rgb(64, 64, 64);
  transition: linear 0.15s;
}
#main .closet {
  display: flex;
  padding: 0 5%;
  background-color: rgb(69, 19, 20);
}
@media only screen and (max-width: 991px) {
  #main .closet {
    width: 82%;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 767px) {
  #main .closet {
    width: 82%;
    flex-direction: column-reverse;
  }
}
#main .closet__image {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  #main .closet__image {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #main .closet__image {
    width: 100%;
  }
}
#main .closet__image--photo {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  #main .closet__image--photo {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 767px) {
  #main .closet__image--photo {
    margin-bottom: 80px;
  }
}
#main .closet__description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}
@media only screen and (max-width: 991px) {
  #main .closet__description {
    width: 100%;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  #main .closet__description {
    width: 100%;
    margin-top: 60px;
  }
}
#main .closet__description--header {
  font-size: 50px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-left: 100px;
}
@media only screen and (max-width: 991px) {
  #main .closet__description--header {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  #main .closet__description--header {
    margin-left: 0;
  }
}
#main .closet__description--text {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-left: 100px;
}
@media only screen and (max-width: 991px) {
  #main .closet__description--text {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  #main .closet__description--text {
    margin-left: 0;
  }
}
#main .closet__description--button {
  margin-left: 100px;
  width: 160px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  color: rgb(69, 19, 20);
}
@media only screen and (max-width: 991px) {
  #main .closet__description--button {
    margin-left: 0;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  #main .closet__description--button {
    margin-left: 0;
    margin-bottom: 40px;
  }
}
#main .closet__description--button:hover {
  background-color: rgb(64, 64, 64);
  transition: linear 0.15s;
}
#main .fallcollection {
  display: flex;
  padding: 0 5%;
}
@media only screen and (max-width: 991px) {
  #main .fallcollection {
    width: 82%;
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #main .fallcollection {
    width: 82%;
    display: block;
  }
}
#main .fallcollection__description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}
@media only screen and (max-width: 991px) {
  #main .fallcollection__description {
    width: 100%;
    margin: 40px 0;
  }
}
@media only screen and (max-width: 767px) {
  #main .fallcollection__description {
    width: 100%;
    margin: 40px 0;
  }
}
#main .fallcollection__description--header {
  font-size: 50px;
  font-weight: 500;
}
#main .fallcollection__description--text {
  font-size: 16px;
  font-weight: 500;
}
#main .fallcollection__description--button {
  width: 160px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
#main .fallcollection__description--button:hover {
  background-color: rgb(64, 64, 64);
  transition: linear 0.15s;
}
#main .fallcollection__images {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  height: 500px;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  #main .fallcollection__images {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 1000px;
  }
}
@media only screen and (max-width: 767px) {
  #main .fallcollection__images {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 1000px;
  }
}
#main .inspired {
  background-image: url(./exam-assets/bg1.avif);
  background-attachment: fixed;
  height: 500px;
}
@media only screen and (max-width: 991px) {
  #main .inspired {
    width: 82%;
    padding: 0 5%;
  }
}
@media only screen and (max-width: 767px) {
  #main .inspired {
    width: 82%;
    padding: 0 5%;
  }
}
#main .inspired__text {
  position: relative;
  top: 45%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 500;
}
#main .container {
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
@media only screen and (max-width: 991px) {
  #main .container {
    width: 82%;
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #main .container {
    width: 82%;
    display: block;
  }
}
#main .container__cards {
  width: 50%;
}
@media only screen and (max-width: 991px) {
  #main .container__cards {
    width: 100%;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 767px) {
  #main .container__cards {
    width: 100%;
    margin-bottom: 40px;
  }
}
#main .container__cards--image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#main .container__cards--header {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
}
#main .container__cards--info {
  margin-top: 20px;
}
#main .container__cards--button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 160px;
  height: 50px;
  font-size: 16px;
  margin-top: 40px;
}
#main .container__cards--button:hover {
  background-color: rgb(64, 64, 64);
  transition: linear 0.15s;
}
#main .subscribe {
  background-image: url(./exam-assets/img-m57zVv6WWeTX3eep.avif);
  height: 600px;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 991px) {
  #main .subscribe {
    width: 82%;
    background-position: center;
  }
}
@media only screen and (max-width: 767px) {
  #main .subscribe {
    width: 82%;
    background-position: center;
  }
}
#main .subscribe__text {
  font-size: 40px;
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 991px) {
  #main .subscribe__text {
    font-size: 30px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  #main .subscribe__text {
    font-size: 30px;
    margin-top: 50px;
  }
}
#main .subscribe__header {
  font-size: 70px;
  color: rgb(255, 255, 255);
  width: 65%;
}
@media only screen and (max-width: 991px) {
  #main .subscribe__header {
    width: 100%;
    font-size: 60;
  }
}
@media only screen and (max-width: 767px) {
  #main .subscribe__header {
    width: 100%;
    font-size: 60;
  }
}
#main .subscribe__input {
  width: 500px;
  height: 45px;
  padding-left: 10px;
  margin: 30px 0;
}
@media only screen and (max-width: 991px) {
  #main .subscribe__input {
    height: 200px;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #main .subscribe__input {
    height: 200px;
    width: 100%;
  }
}
#main .subscribe__button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  width: 100px;
  height: 60px;
}
#main .subscribe__button:hover {
  background-color: rgb(64, 64, 64);
  transition: linear 0.15s;
}

#footer .footer {
  display: flex;
  padding: 0 5%;
  height: 500px;
}
@media only screen and (max-width: 991px) {
  #footer .footer {
    width: 82%;
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  #footer .footer {
    width: 82%;
    display: block;
  }
}
#footer .footer__columns {
  width: 50%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}
#footer .footer__columns--list {
  font-size: 20px;
}
#footer .footer__columns--header {
  font-size: 30px;
  font-weight: 500;
  padding-left: 200px;
}
@media only screen and (max-width: 991px) {
  #footer .footer__columns--header {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  #footer .footer__columns--header {
    padding-left: 0;
  }
}
#footer .footer__columns--email {
  text-decoration: underline;
  padding-left: 200px;
}
@media only screen and (max-width: 991px) {
  #footer .footer__columns--email {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  #footer .footer__columns--email {
    padding-left: 0;
  }
}
#footer .footer__columns--social {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  padding-left: 200px;
}
@media only screen and (max-width: 991px) {
  #footer .footer__columns--social {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  #footer .footer__columns--social {
    padding-left: 0;
  }
}
#footer .fa-brands {
  scale: 1.2;
}/*# sourceMappingURL=exam.css.map */