// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
//                              var(--default-color)
//                              var(--text-color)
//                              var(--text-negative-color)
//                              var(--link-color)
//                              var(--link-hover-color)
//                              var(--link-active-color)
//                              var(--default-bg-color)
//                              var(--footer-bg-color)
//                              var(--footer-bottom-color)
//                              var(--header-bg-color)
//                              var(--header-top-color)
//                              var(--buttons-color)
//                              var(--buttons-hover-color)
//                              var(--buttons-active-color)
//                              var(--filter-shadow-color)
//                              var(--borders-color)
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
.signinorup {
    width: 100%;
    height: auto; // 100vh
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 520px;
    flex-direction: column;
    transition: var(--quick-fx);
    margin-top: 40px;
    position: relative;
    &__topside {
        width: 1000px;
        height: 100px;
        border: none;
        border-bottom: 2px solid var(--borders-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding-right: 70px;
        // background: linear-gradient(to top, var(--default-bg-color), transparent);
        transition: var(--quick-fx);
        &_language {
            width: 120px;
            outline: none;
            border: none;
            border-bottom: 1px solid var(--borders-color);
            background-color: transparent;
            color: var(--text-color);
            font-size: 14px;
            font-weight: 600;
            transition: var(--quick-fx);
            &__options {
                background-color: var(--default-bg-color);
            }
        }
        &_selection {
            display: flex;
            align-items: center;
            gap: 40px;
            justify-content: center;
            width: 50%;
            transition: var(--quick-fx);
            &__login {
                font-size: 36px;
                font-weight: 900;
                color: rgb(0,128,255);   // rgb(0,128,255)  rgb(64,64,64)
                cursor: pointer;
                scale: 1.2;   // 1.2 0.8
                opacity: 1.0;   // 1.0 0.75
                display: flex;
                align-items: center;
                justify-content: center;
                transition: var(--quick-fx);
                width: fit-content;
                &:hover {
                    filter: brightness(2.5);
                }
            }
            &__register {
                font-size: 36px;
                font-weight: 900;
                color: rgb(64,64,64);   // rgb(0,128,255)  rgb(64,64,64)
                cursor: pointer;
                scale: 0.8;   // 0.8 1.2
                opacity: 0.75;   // 0.75 1.0
                display: flex;
                align-items: center;
                justify-content: center;
                transition: var(--quick-fx);
                width: fit-content;
                &:hover {
                    filter: brightness(2.5);
                }
            }
        }
        &_lord {
            width: 50px;
            height: 50px;
            border: 1px solid var(--borders-color);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--link-color);
            font-size: 24px;
            border-radius: 50%;
            background-color: var(--default-bg-color);
            transition: var(--quick-fx);
            // animation: spinning-button 0.75s ease-in-out 0ms 1; // spinning-button 1.0s ease-in-out 500ms infinite
            &:hover {
                filter: drop-shadow(0 0 5px var(--filter-shadow-color));
            }
        }
    }

    &__login {
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        width: 400px;
        height: 500px;
        border: 1px solid var(--borders-color);
        border-radius: 5px;
        background-color: var(--default-bg-color);
        top: 53%;   //   53%   40%
        left: 50%;   //   50%   -4%
        transform: translate(-50%, -50%);
        transition: var(--quick-fx);
        overflow: hidden;
        scale: 1.0;   //   1.0   0.6
        opacity: 1.0;   //   1.0   0.5
        color: var(--text-color);
        &_overlay {
            z-index: -1; // -1 1
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.1);
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    // &signinorup__login {}
    // &signinorup__login_overlay {}
    // &signinorup__login_header {}
    // &signinorup__login_contents {}
    // &signinorup__login_contents__label {}
    // &signinorup__login_contents__input {}
    // &signinorup__login_contents__eyebutton {}
    // .fa-eye {}
    // &signinorup__login_submit {}
    // &signinorup__register {}
    // &signinorup__register_overlay {}
    // &signinorup__register_header {}
    // &signinorup__register_contents {}
    // &signinorup__register_contents__label {}
    // &signinorup__register_contents__input {}
    // &genders_radio {}
    // &genders_label {}
    // &dateofbirth__label {}
    // &dateofbirth__input {}
    // &dateofbirth__input_options {}
    // &signinorup__register_accept {}
    // &signinorup__register_accept__checkbox {}
    // &signinorup__register_submit {}
    // i {}
    &__register {
        z-index: 2;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
        width: 600px;
        height: 500px;
        border: 1px solid var(--borders-color);
        border-radius: 5px;
        background-color: var(--default-bg-color);
        top: 40%;   //   40%   53%
        left: 80%;   //   80%   50%
        transform: translate(-50%, -50%);
        transition: var(--quick-fx);
        overflow: hidden;
        scale: 0.6;   //   0.6   1.0
        opacity: 0.5;   //   0.5   1.0
        color: var(--text-color);
        &_overlay {
            z-index: 1; // 1 -1
            backdrop-filter: blur(2px);
            background-color: rgba(255,255,255,0.1);
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    &__bottomside {
        width: 1000px;
        height: 60px;
        border: none;
        border-top: 2px solid var(--borders-color);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        // background: linear-gradient(to bottom, var(--default-bg-color), transparent);
        &_buttons {
            width: auto;
            height: auto;
            padding: 5px;
            border-radius: 4px;
            border: 1px solid var(--borders-color);
            background-color: var(--buttons-color);
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--quick-fx);
            &:hover {
                scale: 1.05;
                filter: drop-shadow(0 0 10px var(--buttons-hover-color));
                background-color: var(--buttons-hover-color);
            }
            &:active {
                transition: var(--instant-color);
                filter: drop-shadow(0 0 10px var(--buttons-active-color));
                background-color: var(--buttons-active-color);
            }
            .fa-solid {
                color: var(--text-color);
            }
            p {
                font-weight: 600;
                color: var(--text-color);
            }
        }
    }
}

@keyframes spinning-button {
    0% {
        transform: rotateY(0deg);
        scale: 1.0;
    }
    50% {
        transform: rotateY(180deg);
        scale: 1.5;
    }
    100% {
        transform: rotateY(360deg);
        scale: 1.0;
    }
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬