.breadcrumb {
    width: 100vw;
    height: 40px;
    background-color: var(--header-top-color);
    color: var(--text-negative-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid var(--borders-color);
    @media only screen and (max-width: 1199px) {
        display: none;
    };
    &__contents {
        letter-spacing: 1px;
        width: 1300px;
        &_links {
            padding: 0px 10px;
            color: var(--text-negative-color);
            font-weight: 600;
            &:hover {
                color: var(--link-hover-color);
            }
            &:active {
                color: var(--link-active-color);
            }
        }
    }
}