// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
//                              var(--default-color)
//                              var(--text-color)
//                              var(--text-negative-color)
//                              var(--link-color)
//                              var(--link-hover-color)
//                              var(--link-active-color)
//                              var(--default-bg-color)
//                              var(--footer-bg-color)
//                              var(--footer-bottom-color)
//                              var(--header-bg-color)
//                              var(--header-top-color)
//                              var(--buttons-color)
//                              var(--buttons-hover-color)
//                              var(--buttons-active-color)
//                              var(--filter-shadow-color)
//                              var(--borders-color)
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
.breadcrumb {
    width: 100vw;
    height: 40px;
    background-color: var(--header-top-color);
    color: var(--text-negative-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid var(--borders-color);
    &__contents {
        letter-spacing: 1px;
        width: 1300px;
        &_links {
            padding: 0px 10px;
            color: var(--text-negative-color);
            font-weight: 600;
            &:hover {
                color: var(--link-hover-color);
            }
            &:active {
                color: var(--link-active-color);
            }
        }
    }
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬