// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

//                              var(--default-color)
//                              var(--text-color)
//                              var(--text-negative-color)
//                              var(--link-color)
//                              var(--link-hover-color)
//                              var(--link-active-color)
//                              var(--default-bg-color)
//                              var(--footer-bg-color)
//                              var(--footer-bottom-color)
//                              var(--header-bg-color)
//                              var(--header-top-color)
//                              var(--buttons-color)
//                              var(--buttons-hover-color)
//                              var(--buttons-active-color)
//                              var(--filter-shadow-color)
//                              var(--borders-color)

.about {
    z-index: 1;
    width: 100%; // 100%
    height: 600px;
    // border: 1px solid var(--borders-color);
    border: none;
    background-color: var(--default-bg-color);
    color: var(--text-color);
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    &__container {
        width: 1400px;
    }
}
// ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬